        <h1 class="ah1">Our Projects</h1>
        <!-- <section class="asection">
            <div class="adiv">
                <img src="Images/house5.png.jpg" alt="Remote" class="house1">
                <h5 class="ah5">Project Home</h5>
            </div>
        </section> -->

        <main class="amain">
            <div class="asection">
                <div class="adiv">
                    <img src="Images/emporium.jpg" alt="Remote" class="house1">
                    <h4 class="ah5">Project Emporium Mall</h4>
                </div>
                <div class="adiv">
                    <img src="Images/package.jpg" alt="Remote" class="house1">
                    <h4 class="ah5">Project Packages Mall</h4>
                </div>
                <div class="adiv">
                    <img src="Images/world.jpg" alt="Remote" class="house1">
                    <h4 class="ah5">Project World Trade Center</h4>
                </div>
                <div class="adiv">
                    <img src="Images/house8.png.jpg" alt="Remote" class="house1">
                    <h4 class="ah5">Construction Project</h4>
                </div>
                <div class="adiv">
                    <img src="Images/house9.png.jpg" alt="Remote" class="house1">
                    <h4 class="ah5">Building Project</h4>
                </div>
                <div class="adiv">
                    <img src="Images/house10.png.jpg" alt="Remote" class="house1">
                    <h4 class="ah5">Construction Project</h4>
                </div>
            </div>
        </main>