 <hr>
        <div class="f2">
            <div class="topicons">
                <span class="material-icons">
                    flag_circle
                </span>
                <span>@2022 Smart Housing</span>
                <!-- <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-whatsapp"></i> -->

            </div>
        </div>