      <header class="header">
        <a href="/"><h1 id="logo">SMART HOUSING</h1></a>
        {{!-- <h1 id="logo">SMART HOUSING</h1> --}}
        <nav class="toplinks">
            {{!-- <a href="#"><h1 id="logo">SMART HOUSING</h1></a> --}}
            <a href="/about" class="nlinks">About Us</a>
            <a href="/contact" class="nlinks">Contact Us</a>
            <a href="/buy" class="nlinks">Buy</a>
            <a href="/sell" class="nlinks">Sell</a>
            <a href="/latestads" class="nlinks">Latest Ads</a>
        </nav>

        <div class="topicons">
            <a href="/register"><span class="material-icons">
                account_circle
            </span></a>
        </div>
    </header>

    <hr>
     <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate Website</title>
    <link rel="stylesheet" href="css/index.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">