<section id="home">
    <h1 class="heading">Welcome To Smart Housing</h1>
    <p class="para">Want a house for rent or thinking about selling or buying a home in a well developeed society or
        other proprty related matters, you are most welcon on Smart Housing.Smart Housing is a real estate platform for
        assistance in dealing of homes.Here all kind of house
        dealings like: sale/purchase, house for rent and dealings of plots(commercial and residential) and shops
        construction material are materialized upto
        costumer's
        satisfaction. Smart Housing also provides services in construction and building of homes, appartments and plazas.Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, minima consequatur! Deserunt optio
        totam ad enim exercitationem ratione ab veritatis, qui cum corrupti voluptas minima consectetur magni vero
        incidunt sapiente eos quae sunt, blanditiis fugit doloribus cupiditate dolores. Recusandae sint vitae molestias
        porro. Mollitia ullam sunt at optio libero illo, placeat quos? Ex iste suscipit mollitia voluptate natus
        eligendi doloribus enim maxime illo? Odit ipsum architecto provident, natus recusandae minima eius harum
        voluptate at numquam repellat distinctio cum quia exercitationem asperiores expedita ratione, quas eveniet
        dolorum pariatur ut, molestiae consequatur? Eius animi tempore natus, excepturi alias consectetur quo officia
        eligendi.
    </p>
</section>