<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            background-color: rgb(205, 245, 151);
        }
        .pp2{
      margin-top: 4%;
    width: 100px;
    height: 30px;
    background: rgb(123, 176, 123);
    color: black;
    padding: 4px;
    margin-bottom: 3%;
    border-radius: 6px;
    font-size: 0.9em;
        }
       
    </style>
</head>

<body>
    {{>header}}
    <h2 id="divider">Welcome To Our Buyer's Portal</h2>
    <p class="para">Wlecome to smart housing. This is our buyer's portal.If you want to buy your dream home we will
        provide you with great opportunities at reasonable prices. You may vist our website and you may contact our dealers for any sort of assistance</p>

              <main class="amain">
            <div class="asection">
                <div class="adiv">
                    <img src="Images/buy1.jpg" alt="Remote" class="house1">
                    <h4 class="ah5">DHA phase-3 10 Marla House</h4>
                    <h5 class="pp1"> $100k--$250k</h5>
                <button class="pp2">Know More</button>
                </div>
                <div class="adiv">
                    <img src="Images/buy2.jpg" alt="Remote" class="house1">
                    <h4 class="ah5">DHA phase-6 2 Kanal House</h4>
                    <h5 class="pp1"> $150k--$250k</h5>
                <button class="pp2">Know More</button>
                </div>
                <div class="adiv">
                    <img src="Images/buy3.jpg" alt="Remote" class="house1">
                    <h4 class="ah5">DHA phase-2 12 Marla House</h4>
                    <h5 class="pp1"> $190k--$250k</h5>
                <button class="pp2">Know More</button>
                </div>
                <div class="adiv">
                    <img src="Images/buy4.jpg" alt="Remote" class="house1">
                    <h4 class="ah5">DHA phase-8 15 Marla House</h4>
                    <h5 class="pp1"> $120k--$250k</h5>
                <button class="pp2">Know More</button>
                </div>
                <div class="adiv">
                    <img src="Images/buy5.jpg" alt="Remote" class="house1">
                    <h4 class="ah5">DHA phase-3 1 kanal House</h4>
                    <h5 class="pp1"> $300k--$350k</h5>
                <button class="pp2">Know More</button>
                </div>
                <div class="adiv">
                    <img src="Images/buy6.jpg" alt="Remote" class="house1">
                    <h4 class="ah5">DHA phase-4 10 Marla House</h4>
                    <h5 class="pp1"> $200k--$250k</h5>
                <button class="pp2">Know More</button>
                </div>
            </div>
        </main>
        {{>afooter}}
</body>

</html>